

/* Here we set our max width for our <body> container to be 70vw (view width) - this scales dynamically with different screen sizes.
We set margin to auto to center the container on the page.
Note that 70vw can leave a large margin on either side so should be adjusted when on smaller screens */

body {
    max-width: 70vw;
    margin: auto;
}

h1 {
    text-align: center;
}

/* We set the <header> to be relative so that we can position the hamburger menu to the bottom right of the header */

header {
    position: relative;
    padding-bottom: 1rem;
}

/* We set the <nav> to be flex so that we can use justify-content and align-items to center the items in the <nav> */

nav {
    display: flex;
    justify-content: center;
    gap: 20%;
    align-items: center;
    margin: 2rem 0;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 1rem;
}

/* we set the .grid-container to be a grid with 3 columns and a gap of 1rem between each grid item */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

/* we set the .grid-item to have a border, border-radius and padding to make it look like a card */

.grid-item {
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem;
}


footer {
    margin-top: 2rem;
    text-align: center;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 1rem;
}

/* To access the hamburger menu we can either reference the class name (.hamburger-menu)
OR we can reference the <a> tag child of the <header> using:

header > a { ... }

*/

.hamburger-menu {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

/* we set our first media query to be at 880px - this is the point at which we want to change our grid to have 2 columns instead of 3 */

@media (max-width:880px) {

    body {
        max-width: 85vw;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* we set our second media query to be at 770px - this is the point at which we want to hide our <nav> and show our hamburger menu */

@media (max-width: 770px) {

    nav {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

}

/* we set our third media query to be at 470px - this is the point at which we want to change our grid to have 1 column instead of 2 */

@media (max-width: 470px) {

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

}

